.git
.github
.env
.env.*
!.env.example
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
node_modules
vendor
tests
phpunit.xml
phpstan.neon
pint.json
docker/*.md
README.md
