includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 6

    excludePaths:
        - database/migrations/*_create_cache_table.php
        - database/migrations/*_create_jobs_table.php

    checkModelProperties: true
    checkMissingIterableValueType: false

    ignoreErrors:
        # Sanctum trait dynamic methods
        - '#Call to an undefined method .+::createToken\(\)#'
        - '#Call to an undefined method .+::currentAccessToken\(\)#'
